<div id="home">
    <div class="intro-home">
        <h2>Bienvenido a la aplicación web de física</h2>
        <br>
        <p> Esta plataforma ha sido creada con el propósito de ofrecerte una experiencia de aprendizaje
            dinámica e interactiva, donde podrás explorar los conceptosfundamentales y avanzados de la
            física de manera visual, práctica y accesible. </p>
            <br>
        <p> Aquí encontrarás unidades organizadas por temas como mecánica, electricidad, óptica, 
            termodinámica y más que te permitirán comprender cómo las leyes de la física 
            se aplican en el mundo real.</p>
            <br>
        <p> Utiliza el menú de navegación superior para desplazarte entre las diferentes secciones y 
            recursos disponibles. En cada apartado podrás acceder a explicaciones teóricas, simulaciones,
            ejercicios y materiales de apoyo que fortalecerán tu comprensión y curiosidad científica.</p>
            <br>
        <p> Nuestro objetivo es que aprendas de forma autónoma, divertida y significativa, descubriendo cómo
            la física está presente en todos los aspectos de la vida cotidiana. ¡Explora, experimenta y disfruta
            aprendiendo!</p>
    </div>
    <div >
        <img src="/grupo.jpeg" alt="fisica logo" class="img-home">
    </div>
</div>