<div class="temaN°">
    <div class="subtemas">
        <div class="tema-content">
            <h2>Tipos de imágenes: aérea, latente y visible</h2>
            <p>En el proceso radiológico se distinguen tres etapas de formación de la imagen:
                <strong>1. Imagen aérea:</strong> Es el patrón invisible de radiación que atraviesa el cuerpo y contiene
                la información
                diagnóstica según las diferencias de absorción. <br><br>
                <strong>2. Imagen latente:</strong> Se forma en el <strong>receptor (película o sensor digital)</strong>
                al registrarse la radiación, pero
                aún no es visible. <br><br>
                <strong>3. Imagen visible:</strong> Es el resultado final tras el <strong>procesamiento químico o
                    digital</strong>, que muestra las
                estructuras anatómicas para su interpretación diagnóstica.
            </p>
        </div>
        <div>
            <img src="tipos de imagen.png" alt="" class="tema-img">
        </div>
    </div>
</div>