<div id="temaN°">
    <div class="subtemas">
        <div class="tema-content">
            <h2>¿Qué es la radiación?</h2>
            <p>La radiación consiste en la propagación de energía en forma de ondas electromagnéticas o partículas 
                subatómicas a través del vacío o de un medio material. Este fenómeno puede producirse de manera natural, 
                como ocurre con la radiación solar que llega a la Tierra, o de forma artificial, mediante dispositivos 
                creados por el ser humano, como los rayos X o los reactores nucleares.
            </p>
        </div>
        <div>
            <img src="/fisica-web3/public/Radiación.png" alt="radiacion" class="tema-img">
        </div>
    </div>
    <div class="subtemas">
        <div class="tema-content">
            <h2>Tipos de radiación</h2>
            <p>Existen varios tipos de radiación, que se clasifican principalmente en dos categorías: 
                radiación ionizante y no ionizante. La radiación ionizante tiene suficiente energía para ionizar átomos y 
                moléculas, lo que puede causar daños en los tejidos biológicos.
            </p>
        </div>
        <div>
            <img src="/fisica-web3/public/Tipos-rad.png" alt="Tipos de radiacion.png" class="tema-img">
        </div>
    </div>
    <div class="subtemas">
        <div class="tema-content">
            <h2>Radiación ionizante</h2>
            <p>La radiación ionizante incluye partículas alfa, partículas beta, rayos gamma y rayos X. 
                Estas formas de radiación son utilizadas en diversas aplicaciones médicas, industriales y científicas, 
                pero también presentan riesgos para la salud si no se manejan adecuadamente.
            </p>
        </div>
        <div>
            <img src="/fisica-web3/public/radiacion-ionizante.jpg" alt="radiacion ionizante.jpg" class="tema-img">
        </div>
    </div>
    <div class="subtemas">
        <div class="tema-content">
            <h2>Radiación no ionizante</h2>
            <p>La radiación no ionizante incluye ondas de radio, microondas, luz visible, luz ultravioleta y 
                radiación infrarroja. Aunque generalmente se considera menos peligrosa que la radiación ionizante, 
                la exposición excesiva a ciertos tipos de radiación no ionizante, como la luz ultravioleta, puede 
                causar daños en la piel y otros efectos adversos para la salud.
            </p>
        </div>
        <div>
            <img src="/fisica-web3/public/Rad- No-Ionizante.jpg" alt="Radiación no ionizante.jpg" class="tema-img">
        </div>
    </div>
</div>