<div class="temaN°">
    <div class="subtemas">
        <div class="tema-content">
            <h2>Que son las unidades radiológicas</h2>
            <p> Las <strong>unidades radiológicas</strong> son magnitudes para medir la radiación ionizante y sus
                efectos, divididas principalmente en: <br>
                <strong>radiométricas (cantidad de radiación) <br>
                    dosimétricas (energía absorbida) <br>
                    y de protección radiológica (efecto biológico).</strong> <br>
                El avance de la tecnología médica ha aumentado el uso de radiaciones ionizantes, por lo que es necesario
                regular la exposición de pacientes y personal. La dosimetría radiológica mide y controla la radiación
                absorbida para evaluar riesgos biológicos y asegurar una práctica segura mediante el uso adecuado de las
                unidades radiológicas. <br>
                En medicina, las unidades radiológicas se usan en <strong>radiografías, tomografías y
                    fluoroscopías</strong>, donde la dosis varía según el procedimiento. La dosimetría busca optimizar
                la calidad de imagen con la menor exposición, y la IAEA impulsa programas de control y capacitación del
                personal.
            </p>
        </div>
        <div>
            <video src="unidades y magnitudes rad.mp4" class="tema-video" controls></video>
        </div>
    </div>
    <div class="subtemas">
        <div class="tema-content">
            <h2>Que es la dosis absorbida</h2>
            <p>
                La dosis absorbida se define como la energía depositada por la radiación en una unidad de masa del
                material irradiado. Se expresa con la fórmula <br><br>
                <strong>D = E/m.</strong> <br><br>
                <strong>Donde,</strong> <br>
                <strong>E </strong>es la energía en <strong>joules (J)</strong> <br>
                <strong>m</strong> la masa en <strong>kilogramos (kg).</strong><br><br>
                Su unidad en el Sistema Internacional es el <strong>gray (Gy)</strong>, equivalente a
                <strong>1 J/kg.</strong><br>
                En el ámbito clínico, la dosis absorbida es esencial para evaluar el impacto físico de la exposición en
                los tejidos.
            </p>
        </div>
        <div>
            <video src="dosis eq.mp4" class="tema-video" controls></video>
        </div>
    </div>
    <div class="subtemas">
        <div class="tema-content">
            <h2>Tipos de efectos biológicos de la radiación</h2>
            <p> Los efectos de la radiación ionizante dependen de la <strong>dosis y la frecuencia de
                    exposición</strong>, y se dividen en dos tipos: <br><br>
                <strong>determinísticos:</strong> que aparecen por dosis altas y tienen un umbral <br>
                <strong>estocásticos:</strong> que ocurren al azar sin umbral, como el cáncer o las mutaciones
                genéticas.
            </p>
        </div>
    </div>
    <div class="subtemas">
        <div class="tema-content">
            <h2>Dosis Equivalente (H)</h2>
            <p> La <strong>dosis equivalente</strong> mide el daño biológico según el tipo de radiación y se calcula
                con: <br><br>
                <strong>H = D x wR.</strong> <br><br>
                Su unidad es el <strong>Sievert (Sv).</strong> Una misma dosis puede tener distinto efecto, por
                ejemplo;<br>
                <strong>1 Gy </strong>de rayos X equivale a <strong>1 Sv</strong>,
                pero <strong>1 Gy de partículas alfa</strong> equivale a <strong>20 Sv</strong> por su mayor ionización.
            </p>
            <h2>Factor de Ponderación de la Radiación (wR)</h2>
            <p> El <strong>factor de ponderación radiológica</strong> indica la capacidad de cada tipo de radiación para
                causar daño biológico. <br>
                <strong>Lo define la ICRP:</strong> <br>
                para rayos X, gamma y beta wR = 1; <br>
                para neutrones varía entre 5 y 20; <br>
                para partículas alfa, wR = 20, según estudios epidemiológicos y radiobiológicos.
            </p>
            <h2>Dosis Efectiva (E)</h2>
            <p> La <strong>dosis efectiva</strong> combina<strong> el tipo de radiación y la sensibilidad de los
                    órganos</strong>, calculándose con la suma ponderada de <strong>las dosis equivalentes según el
                    factor wT.</strong> <br>
                <strong>Se mide en sievert (Sv)</strong>
                y permite comparar el riesgo total de distintos procedimientos radiológicos.
            </p>
        </div>
        <div>
            <img src="dosis equiv.png" alt="dosis equivalente" class="tema-img">
        </div>
    </div>
</div>