<div id="temaN°">
    <div class="subtemas">
        <div class="tema-content">
            <h2>Carácterísticas físicas de las ondas</h2>
            <p>La radiación viaja formando paquetes discretos de energía o cuantos energéticos,
                llamados fotones. La energía de un fotón depende de su frecuencia (o de su longitud de onda),
                dada por la ecuación de Planck: <br>
                <strong>E = h * f</strong> <br>
                <strong>Donde:</strong> <br>
                <strong>E:</strong> energía <br>
                <strong>H:</strong> constante de Planck, <strong>6.62618 x 10-34 J.s</strong> <br>
                <strong>F:</strong> frecuencia, <strong>f = c / λ</strong> <br>
                <strong>Otras fórmulas de interés son las siguientes:</strong><br>
                La velocidad de cualquier cuerpo es igual al espacio dividido el tiempo que tarda en recorrerlo, en el
                caso de las ondas electromagnéticas:
                <strong>v = c (velocidad de la luz)</strong> <br>
                <strong>λ = espacio (longitud de onda)</strong> <br>
                <strong>f = tiempo (frecuencia) (1/t).</strong> <br>
                <strong>Por ello podríamos decir: <br>
                c = λ * f</strong> <br>
                Si relacionamos estas fórmulas, de forma tal que de la última tomemos el valor de f despejado,
                obtendríamos la siguiente: <br>
                <strong>E = h * (c / λ)</strong>
            </p>
        </div>
        <div>
            <img src="Carac. Ondas.png" alt="Características de las ondas" class="tema-img">
        </div>
    </div>
</div>