<div class="temaN°">
    <div class="subtemas">
        <div class="tema-content">
            <h2>Reglas para la formación de imágenes exactas</h2>
            <p> <strong>1. El foco debe ser lo más pequeño posible,</strong> entre
                más pequeño mayor calidad de imagen. <br>
                <strong>2. La distancia entre el objeto (paciente) y el tubo de Rx debe ser la máxima posible.</strong>
                <br>
                <strong>3. La distancia entre el objeto ( paciente) y el plano del receptor (película) debe ser la
                    mínima
                    posible</strong> <br>
                <strong>4. El rayo central debe ser perpendicular (90º) al objeto y a la placa</strong> <br>
                <strong> 5. El plano del objeto y el plano del receptor deben ser
                    paralelos, </strong> para evitar distorsión (desigualdad en las
                    ampliación de las partes del objeto ).
            </p>
        </div>
        <div>
            <img src="/fisica-web3/public/Reglas img. Real.png" alt="" class="tema-img">
        </div>
    </div>
</div>