<div class="temaN°">
    <div class="subtemas">
        <div class="tema-content">
            <h2>Producción de los rayos X</h2>
            <p> Los rayos X, descubiertos por <strong>Röntgen</strong> en 1895, son <strong>radiación electromagnética
                    de alta energía</strong>, generada cuando electrones acelerados impactan un blanco metálico,
                generalmente de tungsteno, dentro de un tubo de rayos X con cátodo y ánodo. Solo el <strong>1%</strong>
                de la energía se convierte en rayos X y el resto en calor. <br>
                <strong>Se producen dos tipos de radiación:</strong> de frenado (Bremsstrahlung) y característica. La
                calidad y cantidad del haz dependen de factores técnicos: <br>
                el <strong>kVp</strong>, controla la energía y penetración <br>
                la <strong>mAs</strong> la cantidad de fotones y la filtración elimina fotones de baja energía para
                reducir la dosis al paciente, garantizando imágenes precisas con mínima exposición.
            </p>
            <h2>Rayo central</h2>
            <p> El <strong> rayo central</strong> es el haz principal de radiación que sale del tubo de rayos X y se
                dirige en línea recta desde el ánodo hasta el centro del receptor de imagen. Su orientación
                perpendicular al detector es esencial para evitar distorsiones y obtener imágenes fieles a la anatomía
                real. <br>
                Una <strong>mala alineación del rayo central</strong> puede generar imágenes borrosas, artefactos o
                errores de medición,
                afectando la precisión diagnóstica. Por eso, en cada tipo de estudio radiológico se establece un punto
                exacto de centrado, especialmente en exámenes donde la exactitud es clave, como radiografías de
                extremidades o estudios odontológicos.
            </p>
        </div>
        <div>
            <img src="/fisica-web3/public/rayo central.jpg" class="tema-img" alt="as">
        </div>
    </div>
    <div class="subtemas">
        <div class="tema-content">
            <h2>Efecto talón (anódico)</h2>
            <p> El <strong>efecto talón o efecto anódico</strong> ocurre por la inclinación del ánodo en el tubo de
                rayos X. Esta
                geometría hace que la intensidad del haz sea mayor en el lado del cátodo y menor en el del ánodo, ya que
                los rayos X generados cerca del ánodo atraviesan más material y se atenúan parcialmente. <br>
                Este fenómeno puede aprovecharse en radiología, colocando la parte más gruesa del cuerpo hacia el lado
                del cátodo para lograr una <strong>exposición más uniforme</strong> (por ejemplo, en radiografías de
                fémur o abdomen).
                El grado del efecto talón depende del ángulo del ánodo, el tamaño del campo irradiado y la distancia
                foco-película; un ángulo menor produce un efecto más marcado. Por ello, se considera en el diseño de
                equipos especiales como mamógrafos o equipos portátiles, donde se requiere una distribución homogénea de
                la radiación.
            </p>
        </div>
        <div>
            <video src="/fisica-web3/public/efecto Talon.mp4" class="tema-video" controls></video>
        </div>
    </div>
    <div class="subtemas">
        <div class="tema-content">
            <h2>Sustancias radiopacas y radiolúcidas</h2>
            <p> Las <strong>sustancias radiopacas</strong> son aquellas que absorben más rayos X por su alta densidad y
                número atómico,
                como <strong>los huesos, el esmalte dental y los medios de contraste (yodo o bario).</strong> En la
                imagen radiográfica
                se ven blancas o grises claras. <br>
                Las <strong>sustancias radiolúcidas</strong>, como el aire en los pulmones o el tubo digestivo, dejan
                pasar la radiación
                y aparecen oscuras o negras.
                Esta diferencia se conoce como absorción diferencial, y es la base de la formación de imágenes
                radiográficas, ya que las variaciones en densidad y composición de los tejidos permiten distinguir las
                estructuras internas del cuerpo.
            </p>
        </div>
        <div>
            <img src="/fisica-web3/public/radiopaco y radiolucido.jpg" class="tema-img" alt="">
        </div>
    </div>
</div>