<div id="temaN°">
    <div class="subtemas">
        <div class="tema-content">
            <h2>Introducción a la física</h2>
            <p>La física es la ciencia que estudia los fenómenos naturales del universo, desde las partículas
                subatómicas hasta las galaxias.</p>
            <p>Su objetivo es comprender las leyes fundamentales que rigen el comportamiento de la materia y la energía.
            </p>
            <p>La física se divide en varias ramas, como la mecánica, la termodinámica, el electromagnetismo y la física
                cuántica, entre otras.</p>
            <p>Estas ramas abordan diferentes aspectos de la realidad física, pero todas están interconectadas y
                contribuyen a nuestro entendimiento del mundo que nos rodea.</p>
        </div>
        <div>
            <video src="que es la fisica.mp4" class="tema-video" controls>Este navegador no soporta la etiqueta
                video de html5</video>
        </div>
    </div>

    <div class="subtemas">
        <div class="tema-content">
            <h2>Historia de la física</h2>
            <video src="historia de la fisica.mp4" class="tema-video" controls>Este navegador no soporta la etiqueta video de html5</video>
        </div>
    </div>
    <div class="subtemas">
        <div class="tema-content">
            <h2>Relación con otras ciencias</h2>
            <h3>Biofísica</h3>
            <p> <strong>Relación:</strong> Combina la biología con la física para investigar los sistemas vivos.
            </p> <strong>Ejemplos:</strong>
            <p>El estudio de la mecánica muscular, los principios de la visión o el análisis de procesos moleculares y celulares.</p>
            <br><br>
            <h3>Fisicoquímica</h3>
            <p> <strong>Relación:</strong> Estudia las propiedades físicas de la materia y la energía, actuando como un puente entre la química y la física.
            </p> <strong>Ejemplos:</strong>
            <p>El estudio de la termodinámica, la cinética de reacciones químicas y la estructura atómica y molecular.</p>
            <br><br>
            <h3>Geofísica</h3>
            <p> <strong></strong>Relación:</strong> Aplica los principios físicos para estudiar la Tierra, incluyendo su estructura interna y su dinámica.
            </p> <strong>Ejemplos:</strong>
            <p>El estudio de los terremotos (sismología), los campos magnéticos de la Tierra, los procesos de formación de rocas y el estudio de los fenómenos volcánicos.</p>
            <br><br>
            <h3>Astrofísica</h3>
            <p> <strong>Relación:</strong> Usa las leyes de la física para estudiar los objetos celestes, la radiación electromagnética y los fenómenos del cosmos.
            </p> <strong>Ejemplos:</strong>
            <p>El estudio de las estrellas, las galaxias, los agujeros negros, la cosmología (el origen y la evolución del universo) y el movimiento de los astros.</p>
        </div>
    </div>
</div>