<div id="temaN°">
    <div class="subtemas">
        <div class="tema-content">
            <h2>Qué son los sistemas de unidades?</h2>
            <p>Los sistemas de unidades son conjuntos <br>
                de unidades de medida que se utilizan para cuantificar <br>
                magnitudes físicas. Estos sistemas permiten la comunicación <br>
                y comparación de medidas en diferentes contextos.</p>
        </div>
        <div>
            <video src="/fisica-web3/public/Que son los Sistemas de unidades.mp4" class="tema-video" controls>Este navegador no
                soporta la etiqueta
                video de html5</video>
        </div>
    </div>

    <div class="subtemas">
        <div class="tema-content">
            <h2>Sistema Internacional de Unidades:</h2>
            <p>También abreviado como SI, se creó en 1960 en la 11.ª Conferencia General de Pesas y Medidas <br>
                en París, Francia. En este sitio se reconocieron seis unidades de físicas básicas: longitud, tiempo,
                <br>
                masa, corriente eléctrica, temperatura y cantidad de sustancia (excepto el mol). El mol se añadió en
                1971.
            </p>
        </div>
        <div>
            <img src="/fisica-web3/public/SI.jpeg" alt="Sistema Internacional de Unidades" class="tema-img">
        </div>
    </div>

    <div class="subtemas">
        <div class="tema-content">
            <h2>Sistema inglés o anglosajón</h2>
            <p>Es el conjunto de las unidades no métricas que se utilizan como medida principal <br>
                en Estados Unidos y en algunas partes del Reino Unido. <br>
                Este sistema se basa en la pulgada, el pie, la yarda y la milla como elementos principales para la
                medición.</p>
        </div>
        <div>
            <img src="/fisica-web3/public/SAX.jpeg" alt="Unidades básicas del SI" class="tema-img">
        </div>

    </div>
</div>