<div id="unidadI">
    <div class="intro-unidadI">
        <h2>Unidad III: Receptores de imagen, cálculo de modificación a factores de exposición</h2>
        <p> En esta unidad, exploraremos los diferentes tipos de receptores de imagen utilizados en radiología, así como los
            cálculos necesarios para modificar los factores de exposición y optimizar la calidad de la imagen radiológica.
        </p>
    </div>
    <div>
        <img src="/fisica-web3/public/unidad 3.jpg" alt="recorderis logo" class="tema-img">
    </div>
</div>

<div id="temas-unidadI">
    <h2>Temas de la Unidad III</h2>
    <div class="dashboard">
        <div></div>
        <div class="tema-card" data-link="#/tema11">
            <h3>11. Rejillas antidifusoras</h3><br>
            <img src="/fisica-web3/public/rejilla.png" alt="ico" class="ico-tema">
            <p> Descripción de las rejillas antidifusoras y su función en la 
                mejora de la calidad de la imagen radiológica.
            </p>
        </div>
        <div class="tema-card" data-link="#/tema12">
            <h3>12. Receptores de imagen</h3><br>
            <img src="/fisica-web3/public/receptores-imagen.png" alt="ico" class="ico-tema">
            <p> Descripción de los diferentes tipos de receptores de imagen utilizados en radiología, 
                como las películas radiográficas, los detectores digitales y las placas de fósforo.
            </p>
        </div>
        <div class="tema-card" data-link="#/tema13">
            <h3>13. Calculo de modificación a factores de exposición</h3>
            <img src="/fisica-web3/public/calculo.png" alt="ico" class="ico-tema">
            <p> Explicación de los cálculos necesarios para modificar los factores de exposición, 
                incluyendo la densidad óptica, el contraste y la resolución espacial.
            </p>
        </div>
    </div>
</div>