<div id="unidadI">
    <div class="intro-unidadI">
        <h2>Unidad II: Unidades radiológicas y particularidades de los rayos X</h2>
        <p>En esta unidad, exploraremos los fundamentos de la física radiológica, incluyendo los principios básicos de
            la radiación y su interacción con la materia.</p>
        <p>Aprenderás sobre los diferentes tipos de radiación, sus fuentes y aplicaciones en el campo de la radiología.
        </p>
    </div>

    <div>
        <img src="/fisica-web3/public/física-y-matemáticas.webp" alt="recorderis logo" class="img-recorderis">
    </div>
</div>

<div id="temas-unidadI">
    <h2>Temas de la Unidad II</h2>
    <div class="dashboard">
        <div class="tema-card" data-link="#/tema6">
            <h3>6. Unidades Radiologicas</h3>
            <img src="/fisica-web3/public/unds. rad.png" alt="ico" class="ico-tema">
            <p> Descripción de las unidades radiológicas
                utilizadas para medir la radiación ionizante,
                como el gray (Gy), sievert (Sv) y becquerel (Bq).
            </p>
        </div>
        <div class="tema-card" data-link="#/tema7">
            <h3>7. Rayos X - Generalidades</h3>
            <img src="/fisica-web3/public/rayos-x.png" alt="ico" class="ico-tema">
            <p> Descripción de los rayos X, su producción, propiedades y
                aplicaciones en radiología.
            </p>
        </div>
        <div class="tema-card" data-link="#/tema8">
            <h3>8. Tubo de Rx y sus partes </h3>
            <img src="/fisica-web3/public/1.jpg" alt="ico" class="ico-tema">
            <p> Descripción del tubo de rayos X, sus
                componentes principales y su funcionamiento.
            </p>
        </div>
        <div class="tema-card" data-link="#/tema9">
            <h3>9. Tipos de Imagen</h3>
            <img src="/fisica-web3/public/tipos de imagen(ICO).png" alt="ico" class="ico-tema">
            <p> Descripción de los diferentes tipos de imágenes radiológicas,
                como radiografías, tomografías computarizadas (TC) y
                resonancias magnéticas (RM).
            </p>
        </div>
        <div class="tema-card" data-link="#/tema10">
            <h3>10. Reglas para la formación de imágenes exactas</h3>
            <img src="/fisica-web3/public/formacion de imagen.png" alt="ico" class="ico-tema">
            <p> Descripción de las reglas y principios para
                la formación de imágenes radiológicas precisas y
                de alta calidad.
            </p>
        </div>
    </div>
</div>