<div id="unidadI">
    <div class="intro-unidadI">
        <h2>Unidad I: Introducción a la Física Radiológica</h2>
        <p>En esta unidad, exploraremos los fundamentos de la física radiológica, incluyendo los principios básicos de
            la radiación y su interacción con la materia.</p>
        <p>Aprenderás sobre los diferentes tipos de radiación, sus fuentes y aplicaciones en el campo de la radiología.
        </p>
    </div>

    <div>
        <img src="/fisica-web3/public/Energia-en-fisica-e1538145328130-800x400.webp" alt="recorderis logo" class="img-recorderis">
    </div>
</div>

<div id="temas-unidadI">
    <h2>Temas de la Unidad I</h2>
    <div class="dashboard">
        <div class="tema-card" data-link="#/tema1">
            <h3>1. Introducción a la física</h3>
            <img src="/fisica-web3/public/fisica.png" alt="ico" class="ico-tema">
            <p>Acá encontrarás que es la física y <br>
                conceptos básicos de la materia y su <br>
                importancia en la comprensión del mundo. <br>
            </p>
        </div>
        <div class="tema-card" data-link="#/tema2">
            <h3>2. Sistemas de Unidades y Conversion</h3>
            <img src="/fisica-web3/public/fisica unds.png" alt="ico" class="ico-tema">
            <p>Descripción de los diferentes sistemas de unidades utilizados en física. <br>
            </p>
        </div>
        <div class="tema-card" data-link="#/tema4">
            <h3>3. Radiación y sus Tipos</h3>
            <img src="/fisica-web3/public/radiacion  y  tipos.png" alt="ico" class="ico-tema">
            <p>Mecanismos de interacción y efectos en los tejidos biológicos.</p>
        </div>
        <div class="tema-card" data-link="#/tema5">
            <h3>4. Caracteristicas de la Radiación</h3>
            <img src="/fisica-web3/public/carac. Rad.png" alt="ico" class="ico-tema">
            <p>Fuentes naturales y artificiales de radiación.</p>
        </div>
        <div class="tema-card" data-link="#/tema5">
            <h3>5. Espectro Eléctromagnetico</h3>
            <img src="/fisica-web3/public/espectro electromagnético.png" alt="ico" class="ico-tema">
            <p>Fuentes naturales y artificiales de radiación.</p>
        </div>
    </div>
</div>